@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 80px;
  max-width: 1440px;
  margin: 0 auto;
  font-weight: 500;
}

.header-titulo {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 1.125rem;
  color: #3A404E;
}

.header-menu ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 32px;
}

.header-menu a,
.botao-login {
  color: #667085;
}

.botao-login {
  padding: 10px 18px;
}

.botao-registrar {
  background-color: #8E2424;
  padding: 10px 18px;
  border-radius: 8px;
  margin-left: 10px;
  color: #fff;
}

.sobre-nos-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
  padding: 96px 0 108px;
}

.sobre-nos-container span {
  color: #8E2424;
  font-weight: 600;
}

.sobre-nos-container h1 {
  margin: 24px 0 36px;
  color: #101828;
  font-size: 3rem;
  font-weight: 600;
  line-height: 60px;
}

.sobre-nos-container p {
  color: #667085;
  font-size: 1.25rem;
  line-height: 30px;
}

.metricas-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;
  gap: 32px;
  max-width: 1280px;
  margin: 0 auto;
}

.metricas-container div {
  max-width: 280px;
}

.metricas-container span {
  color: #8E2424;
  font-size: 3.75rem;
  font-weight: 600;
}

.metricas-container h3 {
  margin: 12px 0 8px;
  font-size: 1.125rem;
  font-weight: 500;
  color: #101828;
  line-height: 28px;
}

.metricas-container p {
  color: #667085;
  font-size: 1rem;
  line-height: 24px;
}

html {
  font-family: 'Inter', sans-serif;
}

@media (max-width: 1330px) {
  .metricas-container {
    margin: 0 24px;
  }
}

@media (max-width: 800px) {
  .header-container {
    height: 120px;
  }

  .header-titulo {
    margin: 0 50%;
    width: 100%;
  }
}

@media (max-width: 566px) {
  .header-container {
    height: 160px;
  }

  .header-container span {
    display: none;
  }
}

@media (max-width: 358px) {
  .header-container {
    height: 200px;
  }
}