@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 80px;
  max-width: 1380px;
  margin: 0 auto;
  font-weight: 500;
}

.header-titulo {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 1.125rem;
  color: #3A404E;
}

.header-menu ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 32px;
}

.header-menu a,
.botao-login {
  color: #667085;
}

.botao-login {
  padding: 10px 18px;
}

.botao-registrar {
  background-color: #8E2424;
  padding: 10px 18px;
  border-radius: 8px;
  margin-left: 10px;
  color: #fff;
}

.sobre-nos-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
  padding: 96px 0 108px;
}

.sobre-nos-container span {
  color: #8E2424;
  font-weight: 600;
}

.sobre-nos-container h1 {
  margin: 24px 0 36px;
  color: #101828;
  font-size: 3rem;
  font-weight: 600;
  line-height: 60px;
}

.sobre-nos-container p {
  color: #667085;
  font-size: 1.25rem;
  line-height: 30px;
}

.metricas-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  gap: 32px;
  max-width: 1216px;
  margin: 0 auto;
}

.metricas-container div {
  max-width: 280px;
}

.metricas-container span {
  color: #8E2424;
  font-size: 3.75rem;
  font-weight: 600;
}

.metricas-container h3 {
  margin: 12px 0 8px;
  font-size: 1.125rem;
  font-weight: 500;
  color: #101828;
  line-height: 28px;
}

.metricas-container p {
  color: #667085;
  font-size: 1rem;
  line-height: 24px;
}

.procurando-talentos-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  max-width: 1280px;
  margin: 192px auto 40px;
}

.procurando-talentos-container span {
  background-color: #8E24240D;
  padding: 4px 12px;
  border-radius: 12px;
  color: #8E2424;
  font-weight: 500;
  font-size: 0.875rem;
}

.procurando-talentos-container h2 {
  margin: 20px;
  font-size: 2.25rem;
  font-weight: 600;
  line-height: 44px;
}

.procurando-talentos-container p {
  margin-bottom: 64px;
  font-size: 1.25rem;
  line-height: 30px;
  color: #667085;
}

.procurando-talentos-container img {
  width: 100%;
  max-width: 1216px;
  max-height: 400px;
}

.vagas-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1280px;
  margin: 0 auto;
}

.vagas-container div {
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
}

.vagas-container h3 {
  margin: 24px 0 32px;
  color: #101828;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 30px;
}

.vagas-itens div {
  border: 1px solid #EAECF0;
  border-radius: 16px;
  padding: 24px 24px 28px;
  margin: 24px 0;
}

.vagas-itens h4 {
  margin-bottom: 32px;
  color: #101828;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 28px;
}

.vagas-itens span {
  margin-right: 24px;
  color: #667085;
  font-size: 1rem;
  font-weight: 500;
  line-height: 24px;
}

.depoimentos-container,
.depoimentos-perfil {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.depoimentos-container {
  background: #C3191908;
  max-width: 1216px;
  padding: 64px;
  margin: 72px auto 0;
}

.depoimentos-container > span {
  color: #8E2424;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 20px;
}

.depoimentos-container p {
  margin: 16px 0 32px;
  color: #101828;
  font-size: 2.25rem;
  font-weight: 500;
  line-height: 44px;
}

.depoimentos-perfil .nome {
  margin: 16px 0 4px;
  color: #101828;
  font-size: 1rem;
  font-weight: 500;
  line-height: 24px;
}

.depoimentos-perfil .cargo {
  color: #667085;
  font-size: 0.875rem;
  line-height: 20px;
}

html {
  font-family: 'Inter', sans-serif;
}

@media (max-width: 1330px) {
  .metricas-container {
    margin: 0 24px;
  }
}

@media (max-width: 1280px) {
  .procurando-talentos-container {
    margin: 192px 24px 40px;
  }

  .depoimentos-container {
    margin: 72px 24px 0;
  }
}

@media (max-width: 875px) {
  .sobre-nos-container {
    margin: 0 24px;
  }

  .vagas-container {
    margin: 32px 24px 24px;
  }
}

@media (max-width: 800px) {
  .header-container {
    height: 120px;
  }

  .header-titulo {
    margin: 0 50%;
    width: 100%;
  }
}

@media (max-width: 720px) {
  .header-container {
    margin: 0 24px
  }
}

@media (max-width: 632px) {
  .header-menu {
    width: 100%;
    margin: 32px 0;
  }
}

@media (max-width: 566px) {
  .header-container {
    height: 160px;
  }

  .header-container span {
    display: none;
  }
}

@media (max-width: 358px) {
  .header-container {
    height: 200px;
  }
}